mixin reviewForm(store)
  form.reviewer(action=`/reviews/${store._id}` method='POST')
    textarea(name="text" placeholder='if you had tried this place. Please leave a review...')
    .reviewer__meta
      .reviewer__stars
        each num in [5,4,3,2,1]
          input(type='radio' required id=`star${num}` name='rating' value=num)
          label(for=`star${num}`) #{num} Stars
      input.button(type='submit' value='Submit Review')